<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://petorpass.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>petorpass.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>petorpass</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$petorpass</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iixt45rf94.database.windows.net,1433;Initial Catalog=petorpass_db;User ID=Pet@iixt45rf94;Password=L4Gicr4P5" Name="Data Source=tcp:iixt45rf94.database.windows.net,1433;Initial Catalog=petorpass_db;User Id=Pet@iixt45rf94;Password=L4Gicr4P5" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-PetorPass-ba5b774f-d21b-4f7e-bd31-9f8e83ca2d31.mdf;Initial Catalog=aspnet-PetorPass-ba5b774f-d21b-4f7e-bd31-9f8e83ca2d31;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-PetorPass-ba5b774f-d21b-4f7e-bd31-9f8e83ca2d31;AttachDbFilename=|DataDirectory|\aspnet-PetorPass-ba5b774f-d21b-4f7e-bd31-9f8e83ca2d31.mdf;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Pet" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:iixt45rf94.database.windows.net,1433;Initial Catalog=petorpass_db;User ID=Pet@iixt45rf94;Password=L4Gicr4P5" Name="Data Source=tcp:iixt45rf94.database.windows.net,1433;Initial Catalog=petorpass_db;User Id=Pet@iixt45rf94;Password=L4Gicr4P5" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\pet.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Pet_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\pet.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iixt45rf94.database.windows.net,1433;Initial Catalog=petorpass_db;User Id=Pet@iixt45rf94;Password=L4Gicr4P5</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Pet-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iixt45rf94.database.windows.net,1433;Initial Catalog=petorpass_db;User Id=Pet@iixt45rf94;Password=L4Gicr4P5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>